.display-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .position-absolute {
    position: absolute
  }

  .position-relative {
    position: relative
  }


.video-container {
  position: relative;
  display: inline-block;
}

video {
  position: relative;
  width: 100%;
  height: auto;
}

.video-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}